html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

h1,
h2 {
    color: var(--accentColor) !important
}

.top-logo {
    height: auto;
    font-weight: bold;
    color: var(--dominantColor) !important;
    padding-top: 40px;
    padding-bottom: 0px;
    background-color: #ffffff;
}

#top-logo-small {

    font-size: 29px;
    font-family: "Kode Mono", monospace;
    color: var(--dominantColor) !important;

}